name: Rover Medical System - CI/CD

on:
  push:
    branches: ["main"]

  workflow_dispatch:
    inputs:
      release:
        description: "Demo release to run (release-1, release-2, release-3...)"
        required: false
        default: "release-1"

jobs:
  assured_release:
    runs-on: ubuntu-latest

    env:
      # Default release when this runs from a push (no inputs context)
      RELEASE: ${{ inputs.release || 'release-1' }}
      SUBJECT_ID: ${{ github.run_id }}

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Checkout evidence collection (Ansible) repo
        uses: actions/checkout@v4
        with:
          repository: attestify/rover-medical-evidence-collection
          path: rover-medical-evidence-collection

      - name: Resolve release
        id: rel
        uses: ./.github/actions/determine-release

      - name: Install NAPE CLI
        uses: ./.github/actions/setup-nape
        with:
          version: 1.1.0

      - name: Install Ansible
        shell: bash
        run: |
          set -euo pipefail
          python3 -m pip install --upgrade pip
          python3 -m pip install ansible

      - name: Aggregate Evidence from other parts of Rover Medical System
        shell: bash
        run: |
          set -euo pipefail

          cat > rover-medical-evidence-collection/ansible/ansible.cfg <<'CFG'
          [defaults]
          roles_path = ./roles
          inventory = ./inventory/demo.ini
          host_key_checking = False
          retry_files_enabled = False
          CFG

          export ANSIBLE_CONFIG="${GITHUB_WORKSPACE}/rover-medical-evidence-collection/ansible/ansible.cfg"


          # Run the playbook from the evidence collection repo
          ansible-playbook -vvv \
            rover-medical-evidence-collection/ansible/playbooks/collect-evidence.yml \
            -e "release=${RELEASE}" \
            -e "rover_system_root=${GITHUB_WORKSPACE}"

          echo "=== Workspace top level ==="
          tree -L 8 "${GITHUB_WORKSPACE}"

      - name: NAPE - Start Evidence Collection
        shell: bash
        run: |
          set -euo pipefail

          SUBJECT_ID=$(date +%s%3N)

          nape collect start \
            --subject "nrn:procedure:rover-medical/rover-medicine-system"  \
            --subject-id "$SUBJECT_ID" \
            --procedure-link "https://github.com/attestify/rover-medical-catalog.git" \
            --procedure-directory "rover-mediical-system/${RELEASE}" \
            --meta system-owner "Bill Bensing"

          echo "--- Release 1 - Evidence Collection --- "

          nape collect evidence \
            --control-activity "pet-medicine-app" \
            --file-path "pet-medicine-app/app-config.toml"

          echo "--- Release 2 - Evidence Collection (Additions) --- "

          nape collect evidence \
            --control-activity "pet-medicine-db" \
            --file-path "pet-medicine-db/my-db.ini"

          echo "--- Release 3 - Evidence Collection (Additions) --- "

          nape collect evidence \
          --control-activity "pet-medicine-host" \
          --file-path "pet-medicine-host/stdout-auditctl-installed.txt"

          nape collect evidence \
          --control-activity "pet-medicine-host" \
          --file-path "pet-medicine-host/stdout-auditctl-user-commands-logged.txt"

          nape collect evidence \
          --control-activity "pet-medicine-host" \
          --file-path "pet-medicine-host/stdout-no-login-app-user.txt"

          nape collect evidence \
          --control-activity "pet-medicine-host" \
          --file-path "pet-medicine-host/stdout-no-login-db-user.txt"

          nape collect evidence \
          --control-activity "pet-medicine-host" \
          --file-path "pet-medicine-host/stdout-root-check-admin-user.txt"

          nape collect evidence \
          --control-activity "pet-medicine-host" \
          --file-path "pet-medicine-host/stdout-root-check-app-user.txt"

          nape collect evidence \
          --control-activity "pet-medicine-host" \
          --file-path "pet-medicine-host/stdout-root-check-db-user.txt"

          nape collect evidence \
          --control-activity "pet-medicine-host" \
          --file-path "pet-medicine-host/stdout-user-exists-app-user.txt"

          nape collect evidence \
          --control-activity "pet-medicine-host" \
          --file-path "pet-medicine-host/stdout-user-exists-db-user.txt"

          nape collect evidence \
          --control-activity "rover-cloud" \
          --file-path "rover-cloud/cloud-config.yaml"

          nape collect evidence \
          --control-activity "exa-doo-dc" \
          --file-path "exa-doo-dc/soc1-report-analysis.json"

          nape collect report


      - name: Upload NAPE run directory
        uses: actions/upload-artifact@v4
        with:
          name: rover-medical-system-${{ env.RELEASE }}
          path: |
            nrn*